*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(./fonts/Roboto-Regular.ttf);
}
.container{
    width: 100%;
    background: var(--purple-10, #F6F2FF);
    
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: roboto-regular;
    gap: 4rem;
}
.logo{
    display: flex;
    padding-left: 1.5rem;
    flex-grow: 2;
}
.nav-btn{
    flex-grow: 1;
}
.middel-nav{
    flex-grow: 2;
    display: flex;
    gap: 16px;
    margin-left: 1.5rem;

}
.middel-nav>li{
    list-style: none;
}
.middel-nav>li>a{
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
  font-family: roboto-regular;
}
.navbar>div>button{
 width: 130px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
border: 2px solid var(--gradient-purple-gradient-16, #4776E6);
font-size: 0.9rem;
}
.section-one{
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 8rem;
}
.forfree{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0;
    padding: 0;
    background-image: url(./images/Ellipse\ 12.png);
    background-repeat: no-repeat;
    background-position: 0px 30px;
    background-size: 200px;

}
.forfree>h1>span{
   
    color: #AF52DE;
}
.forfree>h1{
    line-height: normal;
    font-size: 2.2rem;
    padding: 1rem;
}
.forfree>p{
    color: var(--cold-grey-70, #505258);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.forfree>button{
    display: flex;
width: 200px;
height: 50px;
padding: 5px 26px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #FFF;
background: var(--gradient-purple-gradient-16, linear-gradient(90deg, #4776E6 0%, #8E54E9 100%));

/* Shadow/200 */
box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08), 0px 4px 6px -4px rgba(24, 39, 75, 0.12);
}
.rogza{
    width: 45%;
    position: relative;
    margin: 0;
    padding: 0;
    
}
.first-laptop{
    width: 500px;
    position: absolute;
    top: 0;
    right: 1rem;
}
.second-screen{
    width: 361px;
    position: absolute;
    top: 1rem;
    right: 1.8rem;
}
@media screen and (max-width: 768px) {
    .section-one{
        flex-wrap: wrap-reverse;
        gap: 30rem;
    }
    .rogza{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .first-laptop{
        width: 500px;
        position: absolute;
        top: 0;
        right: 5rem;
        background-position: center;
    }
    .second-screen{
        width: 361px;
        position: absolute;
        top: 1rem;
        right: 5.8rem;
    }
    .forfree{
        width: 80%;
    }
    .navbar{
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .logo{
        padding-left: 1rem;
    }
    .middel-nav{
        font-size: 1.2rem;
    }
    .navbar>div>button{
        width: 110px;
        height: 35px;
    }
}
@media screen and (max-width: 600px) {
    .section-one{
        flex-wrap: wrap-reverse;
        gap: 20rem;
    }
 
    .first-laptop{
        width: 400px;
        position: absolute;
        top: 0;
    
        background-position: center;
    }
    .second-screen{
        width: 285px;
        position: absolute;
        top: 1rem;
        background-position: center;
    }
    .forfree{
        width: 80%;
    }
    
    .middel-nav{
        display: none;
    }
}
@media screen and (max-width: 498px) {
    .section-one{
        flex-wrap: wrap-reverse;
        gap: 20rem;
    }
 
    .first-laptop{
        width: 300px;
        position: absolute;
        top: 0;
        left: 1rem;
        background-position: center;
    }
    .second-screen{
        width: 200px;
        position: absolute;
        top: 1rem;
        left: 6.5rem;
        background-position: center;
    }
    .navbar{
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .logo{
        padding-left: 1rem;
    }
    .middel-nav{
        display: none;
    }
    .navbar>div>button{
        width: 110px;
        height: 35px;
    }
}